@page "/"
@using LBPUnion.ProjectLighthouse.Types
@using LBPUnion.ProjectLighthouse.Types.Settings
@model LBPUnion.ProjectLighthouse.Pages.LandingPage

@{
    Layout = "Layouts/BaseLayout";
    Model.ShowTitleInPage = false;
}
<h1>Welcome to <b>Sranie Gaming LBP Server</b>!</h1>
<h4>Don't have an account? You'll need to register using your PSN or RPCSN nickname.</h4>
<h5>If you have problems with the server or making an account then dm me on discord (Znowu mam bana no ja nie moge v2#4634)</h5>
<p>If you would like to help keep the server up, check out the <a href="/donate">Donation</a> Page

@if (Model.User != null)
{
    <p>You are currently logged in as <b>@Model.User.Username</b> Welcome!.</p>
    if (ServerSettings.Instance.UseExternalAuth && Model.AuthenticationAttemptsCount > 0)
    {
        <p>
            <b>You have @Model.AuthenticationAttemptsCount authentication attempts pending. Click <a href="/authentication">here</a> to view them.</b>
        </p>
    }
}

@if (Model.PlayersOnlineCount == 1)
{
    <p>There is 1 user currently online:</p>
    @foreach (User user in Model.PlayersOnline)
    {
        <a href="/user/@user.UserId" title="@user.Status.ToString()">@user.Username</a>
    }
}

else if (Model.PlayersOnlineCount == 0)
{
    <p>There are no users online. Why not hop on?</p>
}
else
{
    <p>There are currently @Model.PlayersOnlineCount users online:</p>
    @foreach (User user in Model.PlayersOnline)
    {
        <a href="/user/@user.UserId" title="@user.Status.ToString()">@user.Username</a>
    }
}
